{namespace, "AeroNotix"}.
{plugins, [reploy]}.
{plugin_dir, "src/"}.
{reploy_endpoint, "http://unfuckrebar.apiary.io/"}.
{deps, [{mouture, ".*",
         {git, "http://github.com/nox/mouture.git", {tag, "0.0.1"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx"}}]}.
{reploy_deps, [{namespace, repo, "0.0.1"}]}.
